<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>Welcome To <span th:text="${emailContent.displayName}"></span></title>
    <style type="text/css">
        html{width: 100%; }
        body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
        body {margin:0; padding:0;}
        table {border-spacing:0;}
        table td {border-collapse:collapse;}
        .yshortcuts a {border-bottom: none !important;}
        img{height:auto !important;}
    </style>
</head>
<body  style="font-size:12px;">
<table id="mainStructure" width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#ececec;">
    <tr>
        <td align="center" valign="top" style="background-color: #5e1a41; ">
            <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#5e1a41">
                <tbody>
                <tr>
                    <td valign="top">
                        <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#5e1a41">
                            <tbody>
                            <tr>
                                <td valign="top" height="10">
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td valign="top">
                                                <table align="left" border="0" cellspacing="0" cellpadding="0" class="container2">
                                                    <tbody>
                                                    <tr>
                                                        <td>

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" class="increase-Height">
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table border="0" align="right" cellpadding="0" cellspacing="0" class="container2">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top" align="center">
                                                            <table border="0" align="center" cellpadding="0" cellspacing="0" class="container">
                                                                <tbody>
                                                                <tr>
                                                                    <td align="center" valign="middle" id="clear-padding">
                                                                        <a href="#" style="text-decoration: none;"><img src="https://www.beatroute.com/libs/img/images/icon-facebook.png" width="30" alt="icon-facebook" style="max-width:30px;" border="0" hspace="0" vspace="0"></img></a>
                                                                    </td>
                                                                    <td s="" align="center" valign="middle" id="clear-padding">
                                                                        <a href="#" style="text-decoration: none;"><img src="https://www.beatroute.com/libs/img/images/icon-twitter.png" width="30" alt="icon-twitter" style="max-width:30px;" border="0" hspace="0" vspace="0"></img></a>
                                                                    </td>
                                                                    <td align="center" valign="middle" id="clear-padding">
                                                                        <a href="#" style="text-decoration: none;"><img src="https://www.beatroute.com/libs/img/images/icon-googleplus.png" width="30" alt="icon-googleplus" style="max-width:30px;" border="0" hspace="0" vspace="0"></img></a>
                                                                    </td>
                                                                    <td align="center" valign="middle" id="clear-padding">
                                                                        <a href="#" style="text-decoration: none;"><img src="https://www.beatroute.com/libs/img/images/icon-linkedIn.png" width="30" alt="icon-linkedIn" style="max-width:30px;" border="0" hspace="0" vspace="0"></img></a>
                                                                    </td>
                                                                    <td align="center" valign="middle" id="clear-padding">
                                                                        <a href="#" style="text-decoration: none;"><img src="https://www.beatroute.com/libs/img/images/icon-instagram.png" width="30" alt="icon-instagram" style="max-width:30px;" border="0" hspace="0" vspace="0"></img></a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" height="10">
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" class="increase-Height">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td class="full-width" width="100%" align="center" valign="top" style="background-color: #5e1a41; ">
            <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="height:20px; background-color: #ffffff; opacity:0.5;">
                <tbody>
                <tr>
                    <td valign="top" height="20"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td align="center" valign="top" class="fix-box">
                        <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#ffffff" style="background-color:#ffffff;">
                            <tbody>
                            <tr>
                                <td valign="top" style="background-color: #5e1a41;">
                                    <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width">
                                        <tbody>
                                        <tr>
                                            <td valign="top" height="10">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="middle">
                                                <table align="left" border="0" cellspacing="0" cellpadding="0" class="container2">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center" valign="top">
                                                            <!--<a href="#" style="text-decoration: none;"><img src="https://www.beatroute.com/libs/img/images/top-logo.png" width="137" style="max-width:137px;" alt="Logo" border="0" hspace="0" vspace="0"></img></a>-->
                                                            <a href="#" style="text-decoration: none;"><img th:src="@{${emailContent.imageUrl}+'logo1.png'}" width="137" style="max-width:137px;" alt="Logo" border="0" hspace="0" vspace="0"></img></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" class="increase-Height-20">
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table border="0" align="right" cellpadding="0" cellspacing="0" class="container2" height="39">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="middle" align="center">
                                                            <!-- <table align="right" border="0" cellpadding="0" cellspacing="0" class="clear-align" style="height:100%;">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="font-size: 13px;  line-height: 18px; color: #a3a2a2;  font-weight:normal; text-align: center; font-family:Arail,Tahoma, Helvetica, Arial, sans-serif;">
                                                                        <span style="text-decoration: none; color: #a3a2a2;"><a href="#" style="text-decoration: none; color: #404040;">DESTINATIONS</a></span>  &nbsp;&nbsp;  <span style="text-decoration: none; color: #a3a2a2;"><a href="#" style="text-decoration: none; color: #404040;">CONCERTS</a></span>  &nbsp;&nbsp;  <span style="text-decoration: none; color: #a3a2a2;"><a href="#" style="text-decoration: none; color: #404040;">SPORTS</a></span>  &nbsp;&nbsp;  <span style="text-decoration: none; color: #a3a2a2;"><a href="#" style="text-decoration: none; color: #404040;">THEATRE</a></span>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table> -->
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" height="20">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top" class="fix-box">
            <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width">
                <tbody>
                <tr>
                    <td class="full-width" width="100%" align="center" valign="top">
                        <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="background-color:#ffffff; ">
                            <tbody>
                            <tr>
                                <td valign="top" align="center">
                                    <a href="#" style="text-decoration: none;">
                                        <img class="image-100-percent" src="https://www.beatroute.com/libs/img/images/forgot_password.jpg" width="600" alt="image_header_600x300" style="max-width:600px display:block; " border="0" hspace="0" vspace="0"></img>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" class="fix-box">
            <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#ffffff" style="background-color: #ffffff; border-bottom:2px solid #c7c7c7; ">
                <tbody>
                <tr>
                    <td valign="top">
                        <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color:#ffffff;">
                            <tbody>
                            <tr>
                                <td height="20"></td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <table border="0" cellspacing="0" cellpadding="0" align="left">
                                        <tbody>
                                        <tr>
                                            <td style="font-size: 18px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; color:#555555; font-weight:bold; text-align:left;">
                                                   <span style="color: #555555; font-weight:bold;">
                                                   <a href="#" style="text-decoration: none; color: #404040; font-weight: bold;">
                                                       Dear <span th:text="${userName}"></span>
                                                   </a>
                                                   </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="10"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 13px; line-height: 22px; font-family:Arial,Tahoma, Helvetica, sans-serif; color: #404040; font-weight:normal; text-align:justify; ">
                                                We’ve received a request to generate a new password for you.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 13px; line-height: 22px; font-family:Arial,Tahoma, Helvetica, sans-serif; color: #404040; font-weight:normal; text-align:justify; ">
                                                Please click on the link below and follow the steps to generate a new password.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="30"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 13px; line-height: 22px; font-family:Arial,Tahoma, Helvetica, sans-serif; color: #404040; font-weight:normal; text-align:justify; ">
                                            <a th:href="${activationLink}" style="font-size: 13px; line-height: 22px; font-family:Arial,Tahoma, Helvetica, sans-serif; color: #404040; font-weight:bold; text-align:left; text-decoration:none;border:1px solid #666;padding:10px;">Generate New Password <img src="https://www.beatroute.com/libs/img/images/arrow2.png"  alt="arrow1" style="max-width:10px;  background-color:#5e1a41;"></img></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="20"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 14px; line-height: 18px; font-family: Arial,Tahoma, Helvetica, sans-serif; color: #404040; text-align:left;">
                                                   <span style="color: #404040;">
                                                   Regards, <br />Team <span th:text="${emailContent.displayName}"></span>
                                                   </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="20"></td>
                                        </tr>
                                        <tr><td style="font-size: 14px; line-height: 18px; font-family: Arial,Tahoma, Helvetica, sans-serif; color: #404040; text-align:left;">* If the link to reset your account is not clickable, go to <span th:text="${activationLink}"></span></td></tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="20"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top" align="center">
            <table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td valign="top" height="20">
                        <img src="https://www.beatroute.com/libs/img/images/space.png" width="20" alt="space" style="display:block; max-height:20px; max-width:20px;"></img>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" class="fix-box">
            <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#ffffff" style="background-color: #ffffff; border-bottom:2px solid #c7c7c7; ">
                <tbody>
                <tr>
                    <td valign="top">
                        <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color:#ffffff;">
                            <tbody>
                            <tr>
                                <td height="20"></td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="left">
                                        <tbody>
                                        <tr>
                                            <td align="left" style="font-size: 18px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; color: #404040; font-weight:bold; text-align:left;">
                                                   <span style="color: #404040; font-weight:bold;">
                                                   Need <span style="color: #404040;">Assistance</span>
                                                   </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="15"></td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <table border="0" cellspacing="0" cellpadding="0" align="left" width="560">
                                        <tbody>
                                        <tr>
                                            <td style="font-size: 13px; line-height: 22px; font-family:Arial,Tahoma, Helvetica, sans-serif; color:#a3a2a2; font-weight:normal; text-align:left; ">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <table border="0" cellspacing="0" cellpadding="0" align="left" width="250">
                                                                <tr>
                                                                    <td><img src="https://www.beatroute.com/libs/img/images/envelope.jpg" alt="envelope" ></img></td>
                                                                    <td>&nbsp;<a href="mailto:" style="font-size: 14px; line-height: 22px; font-family:Arial,Tahoma, Helvetica, sans-serif; color:#404040; font-weight:normal; text-align:left; text-decoration:none;"> <span th:text="${emailContent.supportEmailId}"></span> </a></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td>
                                                            <table border="0" cellspacing="0" cellpadding="0" align="left" width="200">
                                                                <tr>
                                                                    <td></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td>
                                                            <table border="0" cellspacing="0" cellpadding="0" align="right" width="130" style="text-align:left;">
                                                                <tr>
                                                                    <td><img src="https://www.beatroute.com/libs/img/images/phone.jpg" alt="envelope" width="20" ></img></td>
                                                                    <td>&nbsp;<a href="tel:+65 84809775" style="font-size: 14px; line-height: 22px; font-family:Arial,Tahoma, Helvetica, sans-serif; color:#404040; font-weight:normal; text-align:left; text-decoration:none;"><span th:text="${emailContent.supportContactNo}"></span></a></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="20"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top" align="center">
            <table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td valign="top" height="20">
                        <img src="https://www.beatroute.com/libs/img/images/space.png" width="20" alt="space" style="display:block; max-height:20px; max-width:20px;"></img>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" class="fix-box">
            <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#ffffff" style="background-color: #ffffff; border-bottom:2px solid #c7c7c7;">
                <tbody>
                <tr>
                    <td height="10"></td>
                </tr>
                <tr>
                    <td valign="top">
                        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td valign="top">
                                    <table border="0" align="center" cellpadding="0" cellspacing="0" class="container">
                                        <tbody>
                                        <tr>
                                            <td valign="top" align="left">
                                                <table border="0" align="left" cellpadding="0" cellspacing="0" class="container">
                                                    <tbody>
                                                    <tr>
                                                        <td height="30" align="center" valign="middle" class="clear-padding">
                                                            <a href="#" style="text-decoration: none;">
                                                                <img src="https://www.beatroute.com/libs/img/images/icon-facebook-gray.png" width="30" alt="icon-facebook" style="max-width:30px;" border="0" hspace="0" vspace="0"></img>
                                                            </a>
                                                        </td>
                                                        <td style="padding-left:5px; " height="30" align="center" valign="middle" class="clear-padding">
                                                            <a href="#" style="text-decoration: none;">
                                                                <img src="https://www.beatroute.com/libs/img/images/icon-twitter-gray.png" width="30" alt="icon-twitter" style="max-width:30px;" border="0" hspace="0" vspace="0"></img>
                                                            </a>
                                                        </td>
                                                        <td style="padding-left:5px; " height="30" align="center" valign="middle" class="clear-padding">
                                                            <a href="#" style="text-decoration: none;">
                                                                <img src="https://www.beatroute.com/libs/img/images/icon-googleplus-gray.png" width="30" alt="icon-googleplus" style="max-width:30px;" border="0" hspace="0" vspace="0"></img>
                                                            </a>
                                                        </td>
                                                        <td style="padding-left:5px;" height="30" align="center" valign="middle" class="clear-padding">
                                                            <a href="#" style="text-decoration: none;">
                                                                <img src="https://www.beatroute.com/libs/img/images/icon-linkedIn-gray.png" width="30" alt="icon-Linkedin" style="max-width:30px;" border="0" hspace="0" vspace="0"></img>
                                                            </a>
                                                        </td>
                                                        <td style="padding-left:5px;" height="30" align="center" valign="middle" class="clear-padding">
                                                            <a href="#" style="text-decoration: none;">
                                                                <img src="https://www.beatroute.com/libs/img/images/icon-instagram-gray.png" width="30" alt="icon-instagram" style="max-width:30px;" border="0" hspace="0" vspace="0"></img>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="10"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td align="center" valign="top" class="fix-box">
                        <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container">
                            <tbody>
                            <tr>
                                <td valign="top">
                                    <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width">
                                        <tbody>
                                        <tr>
                                            <td valign="top" height="10">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="middle">
                                                <table align="center" border="0" cellspacing="0" cellpadding="0" class="container2">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center" valign="top">
                                                            <!--<a href="#" style="text-decoration: none;"><img src="https://www.beatroute.com/libs/img/images/footer-logo.png" width="137" style="max-width:137px;" alt="Logo" border="0" hspace="0" vspace="0"></img></a>-->
                                                            
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" class="increase-Height-20">
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" height="10">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" class="fix-box" style="background-color:#5e1a41;">
            <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color:#5e1a41;">
                <tbody>
                <tr>
                    <td valign="top">
                        <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color:#5e1a41;">
                            <tbody>
                            <tr>
                                <td height="10"></td>
                            </tr>
                            <tr>
                                <td valign="top" style="font-size: 14px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; color:#ffffff; font-weight:normal; text-align:center; ">
                                    &copy; <span th:text="${emailContent.companyName}"></span> 2016
                                </td>
                            </tr>
                            <tr>
                                <td height="10"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
</body>
</html>

