<!--
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    &lt;!&ndash;<meta charset="UTF-8"></meta>&ndash;&gt;
    <title>Title</title>
</head>
<body>
<p>
    Hi <span th:text="${userName}"></span>,
    <br/>
    <br/>
    Your password has been reset successfully.
    <br/>
    <br/>

    Yours,
    <br/>
    Beatroute Team
    <br/>
    <br/>
</p>

</body>
</html>-->
