<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Beatroute</title>
    <meta property="og:type" content="website" />
    <meta property="og:url" th:attr="content=${url}" />
    <meta property="og:title" th:attr="content=${title}"/>
    <meta property="og:site_name" content="Beatroute" />
    <meta property="og:description" th:attr="content=${description}" />
    <meta property="og:image" th:attr="content=${image}" />
</head>
<body>
    <!--<p th:text="'URL : ' + ${url} + '!'" />-->
    <!--<p th:text="'TITLE : ' + ${title} + '!'" />-->
    <!--<p th:text="'DESCRIPTION : ' + ${description} + '!'" />-->
    <!--<p th:text="'IMAGE : ' + ${image} + '!'" />-->

    <script th:inline="javascript">
        /*<![CDATA[*/

        var redirectUrl = [[${redirectUrl}]];
        window.location.href = redirectUrl;
        /*]]>*/
    </script>
</body>
</html>