<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    <title><span th:text="${emailContent.displayName}"></span></title>
    <style type="text/css">
        /* Resets: see reset.css for details */
        .ReadMsgBody { width: 100%; background-color: #ffffff;}
        .ExternalClass {width: 100%; background-color: #ffffff;}
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height:100%;}
        html{width: 100%; }
        body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
        body {margin:0; padding:0;}
        table {border-spacing:0;}
        img{display:block !important;}
        table td {border-collapse:collapse;}
        .yshortcuts a {border-bottom: none !important;}
        /*
        main color = #5e1a41
        background color = #ececec
        */
        img{height:auto !important;}
    </style>
</head>
<body  style="font-size:12px;">
<table id="mainStructure" width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#ececec;">
    <!--START VIEW ONLINE AND ICON SOCAIL -->
    <tr>
        <td align="center" valign="top" style="background-color: #5e1a41; ">
            <!-- start container 600 -->
            <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#5e1a41">
                <tbody>
                <tr>
                    <td valign="top">
                        <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#5e1a41">
                            <!-- start space -->
                            <tbody>
                            <tr>
                                <td valign="top" height="10">
                                </td>
                            </tr>
                            <!-- end space -->
                            <tr>
                                <td valign="top">
                                    <!-- start container -->
                                    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td valign="top">
                                                <!-- start view online -->
                                                <table align="left" border="0" cellspacing="0" cellpadding="0" class="container2">
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            
                                                        </td>
                                                    </tr>
                                                    <!-- start space -->
                                                    <tr>
                                                        <td valign="top" class="increase-Height">
                                                        </td>
                                                    </tr>
                                                    <!-- end space -->
                                                    </tbody>
                                                </table>
                                                <!-- end view online -->
                                                <!--start icon socail -->
                                                <table border="0" align="right" cellpadding="0" cellspacing="0" class="container2">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top" align="center">
                                                            <table border="0" align="center" cellpadding="0" cellspacing="0" class="container">
                                                                <tbody>
                                                                <tr>
                                                                    <td align="center" valign="middle" id="clear-padding">
                                                                        <a href="#" style="text-decoration: none;"><img src="https://www.beatroute.com/libs/img/images/icon-facebook.png" width="30" alt="icon-facebook" style="max-width:30px;" border="0" hspace="0" vspace="0"></img></a>
                                                                    </td>
                                                                    <td s="" align="center" valign="middle" id="clear-padding">
                                                                        <a href="#" style="text-decoration: none;"><img src="https://www.beatroute.com/libs/img/images/icon-twitter.png" width="30" alt="icon-twitter" style="max-width:30px;" border="0" hspace="0" vspace="0"></img></a>
                                                                    </td>
                                                                    <td align="center" valign="middle" id="clear-padding">
                                                                        <a href="#" style="text-decoration: none;"><img src="https://www.beatroute.com/libs/img/images/icon-googleplus.png" width="30" alt="icon-googleplus" style="max-width:30px;" border="0" hspace="0" vspace="0"></img></a>
                                                                    </td>
                                                                    <!--<td align="center" valign="middle" id="clear-padding">
                                                                       <a href="#" style="text-decoration: none;"><img src="https://www.beatroute.com/libs/img/images/icon-rss.png" width="30" alt="icon-rss" style="max-width:30px;" border="0" hspace="0" vspace="0"></img></a>
                                                                       </td>
                                                                       <td align="center" valign="middle" id="clear-padding">
                                                                       <a href="#" style="text-decoration: none;"><img src="https://www.beatroute.com/libs/img/images/icon-vimeo.png" width="30" alt="icon-vimeo" style="max-width:30px;" border="0" hspace="0" vspace="0"></img></a>
                                                                       </td>
                                                                       <td align="center" valign="middle" id="clear-padding">
                                                                       <a href="#" style="text-decoration: none;"><img src="https://www.beatroute.com/libs/img/images/icon-pinterest.png" width="30" alt="icon-pinterest" style="max-width:30px;" border="0" hspace="0" vspace="0"></img></a>
                                                                       </td>-->
                                                                    <td align="center" valign="middle" id="clear-padding">
                                                                        <a href="#" style="text-decoration: none;"><img src="https://www.beatroute.com/libs/img/images/icon-linkedIn.png" width="30" alt="icon-linkedIn" style="max-width:30px;" border="0" hspace="0" vspace="0"></img></a>
                                                                    </td>
                                                                    <td align="center" valign="middle" id="clear-padding">
                                                                        <a href="#" style="text-decoration: none;"><img src="https://www.beatroute.com/libs/img/images/icon-instagram.png" width="30" alt="icon-instagram" style="max-width:30px;" border="0" hspace="0" vspace="0"></img></a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <!--end icon socail -->
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- end container  -->
                                </td>
                            </tr>
                            <!-- start space -->
                            <tr>
                                <td valign="top" height="10">
                                </td>
                            </tr>
                            <!-- end space -->
                            <!-- start space -->
                            <tr>
                                <td valign="top" class="increase-Height">
                                </td>
                            </tr>
                            <!-- end space -->
                            </tbody>
                        </table>
                        <!-- end container 600-->
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <!--END VIEW ONLINE AND ICON SOCAIL-->
    <!--START BORDER OF LAYOUT -->
    <tr>
        <td class="full-width" width="100%" align="center" valign="top" style="background-color: #5e1a41; ">
            <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="height:20px; background-color: #ffffff; opacity:0.5;">
                <tbody>
                <tr>
                    <td valign="top" height="20"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <!--END BORDER OF LAYOUT -->
    <!--START TOP NAVIGATION ​LAYOUT-->
    <tr>
        <td valign="top">
            <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                <!-- START CONTAINER NAVIGATION -->
                <tbody>
                <tr>
                    <td align="center" valign="top" class="fix-box">
                        <!-- start top navigation container -->
                        <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#ffffff" style="background-color:#ffffff;">
                            <tbody>
                            <tr>
                                <td valign="top" style="background-color: #5e1a41;">
                                    <!-- start top navigaton-->
                                    <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width">
                                        <!-- start space -->
                                        <tbody>
                                        <tr>
                                            <td valign="top" height="10">
                                            </td>
                                        </tr>
                                        <!-- end space -->
                                        <tr>
                                            <td valign="middle">
                                                <table align="left" border="0" cellspacing="0" cellpadding="0" class="container2">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center" valign="top">
                                                            <!--<a href="#" style="text-decoration: none;"><img th:src="@{${emailContent.host}+'/enterprises/'+${emailContent.subDomain}+'/images/logo1.png'}" width="137" style="max-width:137px;" alt="Logo" border="0" hspace="0" vspace="0"></img></a>-->
                                                            <a href="#" style="text-decoration: none;"><img th:src="@{${emailContent.imageUrl}+'logo1.png'}" width="137" style="max-width:137px;" alt="Logo" border="0" hspace="0" vspace="0"></img></a>
                                                        </td>
                                                        <!--https://www.beatroute.com/libs/img/images/top-logo.png-->
                                                    </tr>
                                                    <!-- start space -->
                                                    <tr>
                                                        <td valign="top" class="increase-Height-20">
                                                        </td>
                                                    </tr>
                                                    <!-- end space -->
                                                    </tbody>
                                                </table>
                                                <!--start content nav -->
                                                <table border="0" align="right" cellpadding="0" cellspacing="0" class="container2" height="39">
                                                    <!--start call us -->
                                                    <tbody>
                                                    <tr>
                                                        <td valign="middle" align="center">
                                                            <!-- <table align="right" border="0" cellpadding="0" cellspacing="0" class="clear-align" style="height:100%;">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="font-size: 14px;  line-height: 18px; color: #404040;  font-weight:normal; text-align: center; font-family:Arail,Tahoma, Helvetica, Arial, sans-serif;">
                                                                        <span style="text-decoration: none; color: #404040;"><a href="#" style="text-decoration: none; color: #404040;">DESTINATIONS</a></span>  &nbsp;&nbsp;  <span style="text-decoration: none; color: #404040;"><a href="#" style="text-decoration: none; color: #404040;">CONCERTS</a></span>  &nbsp;&nbsp;  <span style="text-decoration: none; color: #404040;"><a href="#" style="text-decoration: none; color: #404040;">SPORTS</a></span>  &nbsp;&nbsp;  <span style="text-decoration: none; color: #404040;"><a href="#" style="text-decoration: none; color: #404040;">THEATRE</a></span>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table> -->
                                                        </td>
                                                    </tr>
                                                    <!--end call us -->
                                                    </tbody>
                                                </table>
                                                <!--end content nav -->
                                            </td>
                                        </tr>
                                        <!-- start space -->
                                        <tr>
                                            <td valign="top" height="20">
                                            </td>
                                        </tr>
                                        <!-- end space -->
                                        </tbody>
                                    </table>
                                    <!-- end top navigaton -->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- end top navigation container -->
                    </td>
                </tr>
                <!-- END CONTAINER NAVIGATION -->
                </tbody>
            </table>
        </td>
    </tr>
    <!--END TOP NAVIGATION ​LAYOUT-->
    <!--START IMAGE HEADER LAYOUT-->
    <tr>
        <td valign="top" class="fix-box">
            <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width">
                <tbody>
                <tr>
                    <td class="full-width" width="100%" align="center" valign="top">
                        <!-- start header container -->
                        <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="background-color:#ffffff; ">
                            <tbody>
                            <tr>
                                <td valign="top" align="center">
                                    <a href="#" style="text-decoration: none;">
                                        <img class="image-100-percent" src="https://www.beatroute.com/libs/img/images/new-york-city.jpg" width="600" alt="image_header_600x300" style="max-width:600px display:block; " border="0" hspace="0" vspace="0"></img>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- end header container -->
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <!--END IMAGE HEADER LAYOUT-->
    <!-- START LAYOUT 1 -->
    <tr>
        <td align="center" valign="top" class="fix-box">
            <!-- start layout-1 container width 600px -->
            <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#ffffff" style="background-color: #ffffff; border-bottom:2px solid #c7c7c7; ">
                <tbody>
                <tr>
                    <td valign="top">
                        <!-- start layout-1 container width 560px -->
                        <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color:#ffffff;">
                            <!--start space height -->
                            <tbody>
                            <tr>
                                <td height="20"></td>
                            </tr>
                            <!--end space height -->
                            <!-- start text content -->
                            <tr>
                                <td valign="top">
                                    <table border="0" cellspacing="0" cellpadding="0" align="left">
                                        <tbody>
                                        <tr>
                                            <td style="font-size: 18px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; color:#404040; font-weight:bold; text-align:left;">
                                                   <span style="color: #404040; font-weight:bold;">
                                                   <a href="#" style="text-decoration: none; color: #404040; font-weight: bold;">
                                                       Dear <span th:text="${userName}"></span>
                                                   </a>
                                                   </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 18px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; color:#404040; font-weight:bold; text-align:left;">
                                                Great to have you on board!
                                            </td>
                                        </tr>
                                        <!--start space height -->
                                        <tr>
                                            <td height="10"></td>
                                        </tr>
                                        <!--end space height -->
                                        <!--start space height -->
                                        <tr>
                                            <td height="5"></td>
                                        </tr>
                                        <!--end space height -->
                                        <tr>
                                            <td style="font-size: 14px; line-height: 22px; font-family:Arial,Tahoma, Helvetica, sans-serif; color:#404040; font-weight:normal; text-align:justify; ">
                                                As a member of this platform you can be assured to discover some of the best travel experiences from around the world.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="10"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 14px; line-height: 22px; font-family:Arial,Tahoma, Helvetica, sans-serif; color:#404040; font-weight:normal; text-align:justify; ">
                                                So, the next time you travel you can be confident that you’re not missing out on any of the amazing experiences that each destination has to offer.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="10"></td>
                                        </tr>
                                        <tr> <td style="font-size: 14px; line-height: 18px; font-family: Arial,Tahoma, Helvetica, sans-serif; color:#404040; text-align:left;"><a th:href="${activationLink}">Click Here </a>to activate your account. </td></tr>
                                        <!--start space height -->
                                        <tr>
                                            <td height="20"></td>
                                        </tr>
                                        <!--end space height -->
                                        <tr>
                                            <td style="font-size: 14px; line-height: 18px; font-family: Arial,Tahoma, Helvetica, sans-serif; color:#404040; text-align:left;">
                                                   <span style="color: #404040;">
                                                   Regards, <br />Team <span th:text="${emailContent.displayName}"></span>
                                                   </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="10"></td>
                                        </tr>
                                        <tr> <td style="font-size: 14px; line-height: 18px; font-family: Arial,Tahoma, Helvetica, sans-serif; color:#404040; text-align:left;">* If the link to activate your account is not clickable, go to <span th:text="${activationLink}"></span></td></tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!-- end text content -->
                            <!--start space height -->
                            <tr>
                                <td height="20"></td>
                            </tr>
                            <!--end space height -->
                            </tbody>
                        </table>
                        <!-- end layout-1 container width 560px -->
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- end layout-1 container width 600px -->
        </td>
    </tr>
    <!-- END LAYOUT 1 -->
    <!-- START HEIGHT SPACE 20PX-->
    <tr>
        <td valign="top" align="center">
            <table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td valign="top" height="20">
                        <img src="https://www.beatroute.com/libs/img/images/space.png" width="20" alt="space" style="display:block; max-height:20px; max-width:20px;"></img>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <!-- END HEIGHT SPACE 20PX-->
    <!-- START LAYOUT 9 -->
    <tr>
        <td align="center" valign="top" class="fix-box">
            <!-- start layout-9 container width 600px -->
            <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#ffffff" style="background-color: #ffffff; border-bottom:2px solid #c7c7c7; ">
                <tbody>
                <tr>
                    <td valign="top">
                        <!-- start layout-9 container width 560px -->
                        <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color:#ffffff;">
                            <!--start space height -->
                            <tbody>
                            <tr>
                                <td height="20"></td>
                            </tr>
                            <!--end space height -->
                            <!-- start heading -->
                            <tr>
                                <td valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="left">
                                        <tbody>
                                        <tr>
                                            <td align="left" style="font-size: 18px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; color:#404040; font-weight:bold; text-align:left;">
                                                   <span style="color: #404040; font-weight:bold;">
                                                   Need <span style="color: #404040;">Assistance</span>
                                                   </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!-- end heading -->
                            <!--start space height -->
                            <tr>
                                <td height="15"></td>
                            </tr>
                            <!--end space height -->
                            <!-- start text content -->
                            <tr>
                                <td valign="top">
                                    <table border="0" cellspacing="0" cellpadding="0" align="left" width="560">
                                        <tbody>
                                        <tr>
                                            <td style="font-size: 14px; line-height: 22px; font-family:Arial,Tahoma, Helvetica, sans-serif; color:#404040; font-weight:normal; text-align:left; ">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <table border="0" cellspacing="0" cellpadding="0" align="left" width="250">
                                                                <tr>
                                                                    <td><img src="https://www.beatroute.com/libs/img/images/envelope.jpg" alt="envelope" ></img></td>
                                                                    <td>&nbsp;<a href="mailto:" style="font-size: 14px; line-height: 22px; font-family:Arial,Tahoma, Helvetica, sans-serif; color:#404040; font-weight:normal; text-align:left; text-decoration:none;"> <span th:text="${emailContent.supportEmailId}"></span> </a></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td>
                                                            <table border="0" cellspacing="0" cellpadding="0" align="left" width="200">
                                                                <tr>
                                                                    <td></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td>
                                                            <table border="0" cellspacing="0" cellpadding="0" align="right" width="130" style="text-align:left;">
                                                                <tr>
                                                                    <td><img src="https://www.beatroute.com/libs/img/images/phone.jpg" alt="envelope" width="20" ></img></td>
                                                                    <td>&nbsp;<a href="tel:+65 84809775" style="font-size: 14px; line-height: 22px; font-family:Arial,Tahoma, Helvetica, sans-serif; color:#404040; font-weight:normal; text-align:left; text-decoration:none;"><span th:text="${emailContent.supportContactNo}"></span></a></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!-- end text content -->
                            <!--start space height -->
                            <tr>
                                <td height="20"></td>
                            </tr>
                            <!--end space height -->
                            </tbody>
                        </table>
                        <!-- end layout-9 container width 560px -->
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- end layout-9 container width 600px -->
        </td>
    </tr>
    <!-- END LAYOUT 9 -->
    <!-- START HEIGHT SPACE 20PX-->
    <tr>
        <td valign="top" align="center">
            <table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td valign="top" height="20">
                        <img src="https://www.beatroute.com/libs/img/images/space.png" width="20" alt="space" style="display:block; max-height:20px; max-width:20px;"></img>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <!-- END HEIGHT SPACE 20PX-->
    <!-- START LAYOUT-12 -->
    <tr>
        <td align="center" valign="top" class="fix-box">
            <!-- start layout-12 container width 600px -->
            <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#ffffff" style="background-color: #ffffff; border-bottom:2px solid #c7c7c7;">
                <!--start space height -->
                <tbody>
                <tr>
                    <td height="10"></td>
                </tr>
                <!--end space height -->
                <tr>
                    <td valign="top">
                        <!-- start logo footer and address -->
                        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td valign="top">
                                    <!--start icon socail navigation -->
                                    <table border="0" align="center" cellpadding="0" cellspacing="0" class="container">
                                        <tbody>
                                        <tr>
                                            <td valign="top" align="left">
                                                <table border="0" align="left" cellpadding="0" cellspacing="0" class="container">
                                                    <tbody>
                                                    <tr>
                                                        <td height="30" align="center" valign="middle" class="clear-padding">
                                                            <a href="#" style="text-decoration: none;">
                                                                <img src="https://www.beatroute.com/libs/img/images/icon-facebook-gray.png" width="30" alt="icon-facebook" style="max-width:30px;" border="0" hspace="0" vspace="0"></img>
                                                            </a>
                                                        </td>
                                                        <td style="padding-left:5px; " height="30" align="center" valign="middle" class="clear-padding">
                                                            <a href="#" style="text-decoration: none;">
                                                                <img src="https://www.beatroute.com/libs/img/images/icon-twitter-gray.png" width="30" alt="icon-twitter" style="max-width:30px;" border="0" hspace="0" vspace="0"></img>
                                                            </a>
                                                        </td>
                                                        <td style="padding-left:5px; " height="30" align="center" valign="middle" class="clear-padding">
                                                            <a href="#" style="text-decoration: none;">
                                                                <img src="https://www.beatroute.com/libs/img/images/icon-googleplus-gray.png" width="30" alt="icon-googleplus" style="max-width:30px;" border="0" hspace="0" vspace="0"></img>
                                                            </a>
                                                        </td>
                                                        <!-- <td style="padding-left:5px;" height="30" align="center" valign="middle" class="clear-padding">
                                                           <a href="#" style="text-decoration: none;">
                                                             <img src="https://www.beatroute.com/libs/img/images/icon-rss-gray.png" width="30" alt="icon-rss" style="max-width:30px;" border="0" hspace="0" vspace="0"></img>
                                                           </a>
                                                           </td>
                                                           <td style="padding-left:5px;" height="30" align="center" valign="middle" class="clear-padding">
                                                           <a href="#" style="text-decoration: none;">
                                                             <img src="https://www.beatroute.com/libs/img/images/icon-vimeo-gray.png" width="30" alt="icon-vimeo" style="max-width:30px;" border="0" hspace="0" vspace="0"></img>
                                                           </a>
                                                           </td>
                                                           <td style="padding-left:5px;" height="30" align="center" valign="middle" class="clear-padding">
                                                           <a href="#" style="text-decoration: none;">
                                                             <img src="https://www.beatroute.com/libs/img/images/icon-pinterest-gray.png" width="30" alt="icon-pinterest" style="max-width:30px;" border="0" hspace="0" vspace="0"></img>
                                                           </a>
                                                           </td>-->
                                                        <td style="padding-left:5px;" height="30" align="center" valign="middle" class="clear-padding">
                                                            <a href="#" style="text-decoration: none;">
                                                                <img src="https://www.beatroute.com/libs/img/images/icon-linkedIn-gray.png" width="30" alt="icon-Linkedin" style="max-width:30px;" border="0" hspace="0" vspace="0"></img>
                                                            </a>
                                                        </td>
                                                        <td style="padding-left:5px;" height="30" align="center" valign="middle" class="clear-padding">
                                                            <a href="#" style="text-decoration: none;">
                                                                <img src="https://www.beatroute.com/libs/img/images/icon-instagram-gray.png" width="30" alt="icon-instagram" style="max-width:30px;" border="0" hspace="0" vspace="0"></img>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!--end icon socail navigation -->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- end logo footer and address -->
                    </td>
                </tr>
                <!--start space height -->
                <tr>
                    <td height="10"></td>
                </tr>
                <!--end space height -->
                </tbody>
            </table>
        </td>
    </tr>
    <!-- END LAYOUT-12-->
    <!--START FOOTER LAYOUT-->
    <tr>
        <td valign="top">
            <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                <!-- START CONTAINER  -->
                <tbody>
                <tr>
                    <td align="center" valign="top" class="fix-box">
                        <!-- start footer container -->
                        <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container">
                            <tbody>
                            <tr>
                                <td valign="top">
                                    <!-- start footer -->
                                    <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width">
                                        <!-- start space -->
                                        <tbody>
                                        <tr>
                                            <td valign="top" height="10">
                                            </td>
                                        </tr>
                                        <!-- end space -->
                                        <tr>
                                            <td valign="middle">
                                                <table align="center" border="0" cellspacing="0" cellpadding="0" class="container2">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center" valign="top">
                                                            
                                                        </td>
                                                    </tr>
                                                    <!-- start space -->
                                                    <tr>
                                                        <td valign="top" class="increase-Height-20">
                                                        </td>
                                                    </tr>
                                                    <!-- end space -->
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <!-- start space -->
                                        <tr>
                                            <td valign="top" height="10">
                                            </td>
                                        </tr>
                                        <!-- end space -->
                                        </tbody>
                                    </table>
                                    <!-- end footer -->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- end footer container -->
                    </td>
                </tr>
                <!-- END CONTAINER  -->
                </tbody>
            </table>
        </td>
    </tr>
    <!--END FOOTER ​LAYOUT-->
    <tr>
        <td align="center" valign="top" class="fix-box" style="background-color:#5e1a41;">
            <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color:#5e1a41;">
                <tbody>
                <tr>
                    <td valign="top">
                        <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color:#5e1a41;">
                            <!--start space height -->
                            <tbody>
                            <tr>
                                <td height="10"></td>
                            </tr>
                            <!--end space height -->
                            <tr>
                                <!-- start COPY RIGHT content -->
                                <td valign="top" style="font-size: 14px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; color:#ffffff; font-weight:normal; text-align:center; ">
                                    &copy; <span th:text="${emailContent.companyName}"></span> 2016
                                </td>
                                <!-- end COPY RIGHT content -->
                            </tr>
                            <!--start space height -->
                            <tr>
                                <td height="10"></td>
                            </tr>
                            <!--end space height -->
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <!--  END FOOTER COPY RIGHT -->
</table>
</body>
</html>
